@page "/fetchdata"
@using BlazorGrpcCodeFirst.Shared
@using ProtoBuf.Grpc.Client;
@using ProtoBuf.Grpc.Configuration;
@using BlazorGrpcCodeFirst.Client.GrpcUtils;
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (welcomeText == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p><em>@welcomeText</em></p>
}

@code {
    string welcomeText = null;

    protected override async Task OnInitializedAsync()
    {
        GrpcClientFactory.AllowUnencryptedHttp2 = true;
        var grpcWebCallInvoker = new GrpcWebCallInvoker(Http);

        var calculator = ClientFactory.Default.CreateClient<IGreeterService>(grpcWebCallInvoker);
        var result = await calculator.SayHelloAsync(new HelloRequest { Name = "Rob from Blazor via GrpcWeb" });
        welcomeText = result.Message;
    }

}
